body {

    font-family: "Times New Roman";
    text-align: center;
      color: #E0E0E0;

    }

nav {

    text-align: center;
    width: -20%
      }
a {

    text-decoration: none;
    color: #E0E0E0;

      }
dd {
  display:block;
  margin-left: : 0px;
}
ul.ba {

    list-style-type: none;

      }
.sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        padding-top: 10px;
      }

.sidenav a {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 11px;
      }

.sidenav a:hover {
        text-decoration: underline;
      }
