body {

    font-size: 15px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:OCR A Std, monospace;
    text-align: center;
      color: #442a17;

    }

header{

  font-size: 30px;
}

table {

    text-align: left;

}

.center {
    margin-left: auto;
    margin-right: auto;
      }

nav {

    text-align: center;
    width: -20%
      }
a {

    text-decoration: none;
    color: #442a17;
      }

a.hyperlink {

    color: #df8d4f;
}

dd {
  display:block;
  margin-left: : 0px;
}
ul.ba {

    list-style-type: none;

      }
.sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        padding-top: 10px;
      }

.sidenav a {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 13px;
      }

a.hyperlink:hover{

        color: #7f4417;
}

a:hover {
        text-decoration: underline;
      }
.allignleft{
  text-align: left;
}
