/* Genral style for all pages */

body {

    font-size: 16px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* (W3schools, Images Background, 1998) --> */
    font-family:Optima;
    text-align: center;
    color: #442a17;
    margin-bottom: 200px;

    }


p.text {

  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}

/* keeps the topfooter fixed */

div {
    margin-left: 16px;
    position: fixed;
    top: 0;
    left: 0;

}

footer {
    margin-left: 16px;
    font-weight: 600px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: hidden;

}

header{
  font-size: 30px;
}

table {
    font-weight: bold;
    text-align: left;

}

.center {
    margin-left: auto;
    margin-right: auto;
      }

nav {

    text-align: center;
      }
a {

    text-decoration: none;
    color: #442a17;
      }

a.hyperlink {

    color: #442a17;
}

dd {
  display:block;
  margin-left: : 0px;
}

/* Removes the bulit points from unorderd lists */

ul.ba {

    list-style-type: none;

      }
/* Allows the navigator to be fixed to the right side of the page */
.sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
      }

.sidenav a {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 16px;
      }

/* Alter Text when passing over */
a.hyperlink:hover{

        color: #7f4417;
}

a:hover {
        text-decoration: underline;
      }
/* (W3schools, Sidenav, 1998) --> */

.allignleft{
  text-align: left;
}


h1 {

  margin-top: 70px;
}
